body, html {
	height: 100%;
	background: #292826;
	color: #fdfdfd;
}

.players {
    max-width: 960px;
    margin: 0 auto;
}

.title {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.title h1 {
	color: #f9d432;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}

.title h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

.input {
    display: flex;
    padding: 1.5rem 0;
    text-align: center;
}

.input input {
    flex: 1;
    margin-left: 10px;
}

.input button {
    margin-left: 0.5rem;
    margin-right: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
}

.list > .item {
    display: flex;
    flex-direction: row;

    margin: 5px 10px;
}

.list > .item > .name {
    background: #ae45c5;
    color: #fdfdfd;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    line-height: 2.5rem;
    font-size: 1rem;

    flex: 1;

    border-radius: 4px;
    margin-right: 10px;
}

.firstToSelect {
    padding: 10px;
    display: flex;
}

.firstToSelect select {
    flex: 1;
    margin-right: 10px;
}